<style>
.dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
  left: auto;   
  right: 0;
}
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      
      left: -250%; 
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    
</style>
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark fixed-top scrolling-navbar">
  <a class="navbar-brand nav-link text-uppercase font-weight-bold text-white ml-2" href="index.html">Godavari</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a href="home" class="nav-link text-uppercase font-weight-bold mr-2 text-white">home</a></li>
      <li class="nav-item myhover"><a href="packages/" class="nav-link text-uppercase font-weight-bold mr-2 text-white">packages</a></li>
      <li class="nav-item myhover "><a href="services" class="nav-link text-uppercase font-weight-bold mr-2 text-white">services</a></li>
      <li class="nav-item "> <a href="about"class="nav-link text-uppercase font-weight-bold text-white mr-4" >about</a></li>
      <li class="nav-item " ng-show="loginRegister"><a href="login"class="nav-link text-uppercase font-weight-bold text-white mr-4" >login | register</a></li>
      <li class="dropdown nav-item mr-3" ng-show="usericon">
          <!-- <button class="btn " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="True" href="" role="button"> <i class="fas fa-user-circle fa-2x " style="color:white"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="profile"><i class="fas fa-user fa-1x " ></i> Profile</a>
              <a class="dropdown-item" href="bookedpackages.html"><i class="fas fa-suitcase fa-1x"></i> My packages</a>
              <a class="dropdown-item " ng-click="logout()"  id="#logout" style="cursor:pointer;"><i class="fas fa-sign-out-alt fa-1x"></i> Logout</a>
            </div> -->

  <div class="dropdown">
    <button class="dropbtn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="" role="button"> <i class="fas fa-user-circle fa-2x " style="color:white"></i></button>
    <div class="dropdown-content" aria-labelledby="dropdownMenuButton">   

      <a class="dropdown-item" href="profile"><i class="fas fa-user fa-1x " ></i> Profile</a>
      <a class="dropdown-item" href="bookings"><i class="fas fa-suitcase fa-1x"></i> My packages</a>
      <a class="dropdown-item " href="home"><i class="fas fa-sign-out-alt fa-1x"></i> Logout</a>
    </div>
  </div>
        </li>
    </ul>

  </div>
</nav>



<router-outlet></router-outlet> 